ion-header {
    height: 8vh;
    ion-toolbar {
        height: 60px;
        align-items: center;
        display: flex;
        ion-title {
            font-size: 25px;
        }
    }
}
ion-content, ion-slides {
    height: 80vh;
}
ion-footer {
    height: 10vh;
    display: flex;
    align-items: center;
    ion-button {
        width: 100%;
        height: 100%;
    }
}