<ion-header>
  <ion-toolbar>
    <ion-title>Общажка №11</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" [options]="slideOpts" (ionSlideDidChange)="slideChanged($event)" #slides>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Что это?</ion-card-title>
          <ion-card-subtitle>Что за дичь?</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Хочешь оставить аннонимный отзыв? Чтобы обосрать кого-то или похвалить? Найти этого персонажа и напиши - кто он и что из себя представляет!
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Толерантность!</ion-card-title>
          <ion-card-subtitle>Геи, пидары, лесбухи и шлюхи!</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
         Все мы не святые. Если вы знаете, что кто-то гей, пидар, шлюха, ёбырь или норм штрих - напиши об этом ( всё равно никто не узнает, ну кроме меня - одмена этой херни)
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Баду и тиндер!</ion-card-subtitle>
          <ion-card-title>Это не баду и тиндер!</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Это не приложеха для знакомст людей с 11 общаги! Мы тут просто пишем о ком-то что-то зачем-то. Зачем? - чтобы мы знали, с кем тусить, кого звать, кого бороднуть!
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
<ion-footer>
  <ion-button expand="full" (click)="nextSlide()">{{slideText}}</ion-button>
</ion-footer>