ion-header {
    height: 8vh;
    ion-toolbar {
        height: 60px;
        align-items: center;
        display: flex;
        ion-title {
            font-size: 25px;
        }
    }
}
ion-content {
    height: 80vh;
}
ion-footer {
    height: 10vh;
    display: flex;
    align-items: center;
    ion-button {
        width: 100%;
        height: 100%;
        margin: 0;
    }
}
.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .logotype {
        display: flex;
        justify-content: center;
        align-items: center;
        ion-thumbnail {
            height: 150px;
            width: 150px;
        }
    }
}

.input_wrapp {
    margin-bottom: 10px;
    .input {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border: 1px solid silver;
        padding: 10px;
        border-radius: 10px;
        .label {
            margin-right: 10px;
        }
    }
    .input_error {
        padding-left: 10px;
        margin-top: 10px;
    }
}
