<ion-header>
  <ion-toolbar>
    <ion-title>Авторизация</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <div class="logotype">
      <ion-thumbnail slot="start">
        <ion-img src="https://via.placeholder.com/150x100/2D2D2D?Text=HomeHub"></ion-img>
      </ion-thumbnail>
    </div>
    <div class="form_wrapp">
      <form [formGroup]="loginForm" class="login_form">
        <div class="input_wrapp">
          <div class="input">
            <div class="label">
              <ion-label>Имя</ion-label>
            </div>
            <ion-input formControlName="name" placeholder="Введите Имя"></ion-input>
          </div>
          <div class="input_error" *ngIf="loginForm.get('name').invalid && loginForm.get('name').touched">
            <ion-text color="danger" *ngIf="loginForm.get('name').errors['required']">Введите Имя! </ion-text>
          </div>
        </div>
        <div class="input_wrapp">
          <div class="input">
            <div class="label">
              <ion-label>Фамилия</ion-label>
            </div>
            <ion-input formControlName="secondName" placeholder="Введите Фамилию"></ion-input>
          </div>
          <div class="input_error" *ngIf="loginForm.get('secondName').invalid && loginForm.get('secondName').touched">
            <ion-text color="danger" *ngIf="loginForm.get('secondName').errors['required']">Введите Фамилию! </ion-text>
          </div>
        </div>
        <div class="input_wrapp">
          <div class="input">
            <div class="label">
              <ion-label>Email</ion-label>
            </div>
            <ion-input formControlName="email" placeholder="Введите Email"></ion-input>
          </div>
          <div class="input_error" *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched">
            <ion-text color="danger" *ngIf="loginForm.get('email').errors['required']">Введите Email! </ion-text>
          </div>
        </div>
        <div class="input_wrapp">
          <div class="input">
            <div class="label">
              <ion-label>Пароль</ion-label>
            </div>
            <ion-input formControlName="password" placeholder="Введите Пароль"></ion-input>
          </div>
          <div class="input_error" *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
            <ion-text color="danger" *ngIf="loginForm.get('password').errors['required']">Введите Пароль! </ion-text>
          </div>
        </div>
      </form>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-button [disabled]="loginForm.invalid" expand="full" (click)="login()">Авторизация</ion-button>
  <ion-button expand="full" (click)="toToRegister()">Создать аккаунт</ion-button>

</ion-footer>